<div class="row body">

    <div class="col-lg-10 col-lg-offset-1 col-md-12 col-sm-12 col-sm-offset-0 col-xs-10 col-xs-offset-1">
        <div class="page-header">
            <h2>About Us</h2>
        </div>

        <p>This website was designed for a small business. It was built Backbone.js, a MVC Javascript framework,
            and a few other complementary libraries.</p>

        <hr/>

        <p>Our address is:</p>

        <address>
            <strong>Company Name, LLC</strong><br>
            123 Main St.<br>
            Anytown, USA 54321<br>
        </address>

        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3105.150394151072!2d-77.03653!3d38.897676000000004!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89b7b7bcdecbb1df%3A0x715969d86d0b76bf!2sThe+White+House!5e0!3m2!1sen!2sus!4v1427657825184"
                width="600" height="450" frameborder="0" style="border:0"></iframe>

    </div>

</div>