<div class="row body">

    <div class="col-lg-10 col-lg-offset-1 col-md-12 col-sm-12 col-sm-offset-0 col-xs-10 col-xs-offset-1">
        <div class="page-header">
            <h2>Frequently Asked Questions</h2>
        </div>

        <p>
        <h4>
            <strong>Q:</strong>&emsp;What is the answer to life, the universe, and everything?
        </h4>
        </p>
        <p><strong>A:</strong>&emsp;42.</p>
        <hr/>

        <p><h4><strong>Q:</strong>&emsp;What tools were used to create this site?</h4></p>
        <p><strong>A:</strong>&emsp;Beyond the software packages mentioned on the homepage, this
            site was constructed using <a href="https://www.jetbrains.com/webstorm/">WebStorm</a>,
            a super awesome Javascript IDE.</p>

        <hr/>

    </div>

</div>