<div class="col-xs-12">
    <div class="page-header">
        <h2>Log In</h2>
    </div>

    <div class="alert alert-error" style="display:none;"></div>

    <form class="form-horizontal">
        <div class="col-md-3 col-sm-6 col-sm-offset-0 col-xs-12 col-xs-offset-1">
            <div class="control-group">
                <!--<label for="inputEmail" class="control-label">Email</label>-->
                <label>Email
                    <input type="text" id="inputEmail" class="form-control" placeholder="Email Address">
                </label>
            </div>
        </div>
        <div class="control-group">
            <!--<label for="inputPassword" class="control-label">Password</label>-->
            <!--Password-->
            <!--<div class="col-md-3 col-sm-6 col-sm-offset-0 col-xs-10 col-xs-offset-1">-->
            <!--<input type="password" id="inputPassword" class="form-control" placeholder="Password">-->
            <!--</div>-->

            <div class="col-md-3 col-sm-6 col-sm-offset-0 col-xs-12 col-xs-offset-1">
                <label>Password
                    <input type="password" id="inputPassword" class="form-control" placeholder="Password">
                </label>
            </div>
        </div>
        <div class="control-group">
            <div class="controls col-xs-12">
                <br/><button type="submit" class="btn btn-primary" id="loginButton">Sign In</button>
            </div>
        </div>
    </form>
</div>