<div class="col-xs-12">
    <div class="page-header">
        <h2>Log In</h2>
    </div>

    <form class="form-horizontal">
        <div class="col-md-3 col-sm-6 col-sm-offset-0 col-xs-12 col-xs-offset-1">
            <div class="control-group">
                <label>Email
                    <input type="text" id="inputEmail" class="form-control" placeholder="Email Address">
                </label>
            </div>
        </div>
        <div class="control-group">
            <div class="col-md-3 col-sm-6 col-sm-offset-0 col-xs-12 col-xs-offset-1">
                <label>Password
                    <input type="password" id="inputPassword" class="form-control" placeholder="Password">
                </label>
            </div>
        </div>
        <div class="control-group">
            <div class="controls col-xs-12">
                <br/><button type="submit" class="btn btn-primary" id="loginButton">Sign In</button>
                <br/><div id="login-response"></div>
            </div>
        </div>
    </form>
</div>